@model List<ResultBookingDto>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/AdminLayout/_AdminLayout.cshtml";
    int count = 0;
}

<h1>Rezervasyon İşlemleri</h1>

<table class="table table-hover">
    <tr>
        <th>#</th>
        <th>Misafir</th>
        <th>Giriş Zamanı</th>
        <th>Çıkış Zamanı</th>
        <th>Durum</th>
    </tr>
    @foreach (var item in Model)
    {
        count++;
        <tr>
            <td>@count</td>
            <td>@item.Name</td>
            <td>@(((DateTime)item.CheckIn).ToString("dd-MMM-yyyy"))</td>
            <td>@(((DateTime)item.CheckOut).ToString("dd-MMM-yyyy"))</td>
            <td><span class="badge badge-info">@item.Status</span></td>
            <td><a href="/BookingAdmin/ConfirmBooking/@item.BookingId" class="btn btn-primary">Onayla</a></td>
            <td><a href="#" class="btn btn-danger">İptal Et</a></td>
            <td><a href="#" class="btn btn-warning">Beklet</a></td>
            <td><a href="#" class="btn btn-success">Güncelle</a></td>
            <td><a href="#" class="btn btn-dark">Detaylar</a></td>
        </tr>
    }
</table>